.header {
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0em;
    color: rgb(255, 0, 0);
    padding: 1%;
    text-align: center;
}

.headero {
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0em;
    color: rgb(255, 0, 0);
    padding: 1px;
    text-align: center;
}

.form {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4em;
    text-align: center;
}

.button {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: -4em;
    text-align: center;
}

.body p {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(37, 219, 98);
    text-align: center;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

a:link,
a:visited {
    margin-top: 1%;
    margin-left: 44%;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgb(14, 201, 92);
}