{% extends "base.html" %} {% block header%} Login Page{% endblock%} {% block content%}
<p>This is a pseudo login page for understanding POST requests</p>

<!-- action means which page you want to go to after the form is submit-->
<!-- but that page should support post requests-->
<!-- In my case I want to go the home page but if you want to stay on the same page you can use #-->
<form action="#" method="post">
    <p style="text-align:center" >Name :</p>
    <p style="text-align:center"><input type="text" name="nm" /></p>
    <p style="text-align:center"><input type="submit" value="submit" /></p>
</form>
{% endblock%}}