<html>

<head>
    <title>Deep Learning API</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="headero">
        <h1>Segmentation</h1>
    </div>

    <div class="row">
        <div class="column">
            <img src="{{input_image}}" alt="Input image" style="width:100%">
        </div>
        <div class="column">
            <img src="{{output_image}}" alt="Segmented image" style="width:100%">
        </div>
    </div>

    <div class="link">
        <a href="/">Another Image</a>
    </div>

</body>

</html>