{% extends "base.html" %} {% block header%} User Page{% endblock%} {% block content%}
<p style="text-align:center">This is a pseudo user page to understand the concept of sessions</p>

<!-- action means which page you want to go to after the form is submit-->
<!-- but that page should support post requests-->
<!-- In my case I want to go the home page but if you want to stay on the same page you can use #-->
<p>This is what a user will see. One cannot see this page without going through the login page</p>
{% endblock%}}